---
- name: Installing Mysql  and dependencies
  package:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - mysql-server
    - mysql-client 
    - python3-mysqldb
    - libmysqlclient-dev

- name: start and enable mysql service
  service:
    name: mysql
    state: started
    enabled: yes

- name: Set MySQL root Password
  mysql_user:
    login_host: 'localhost'
    login_user: 'root'
    login_password: ''
    name: 'root'
    password: '{{ root_pass }}'
    state: present

- name: Create my.cnf file
  template: 
    src: my.cnf 
    dest: /root/.my.cnf

- name: Create a new database with name "{{ domain_name }}"
  mysql_db:
    name: '`{{ domain_name }}`'
    state: present

- name: Create user with password, all database privileges and 'WITH GRANT OPTION' in db1 and db2
  mysql_user:
    name: "{{ domain_name }}"
    password: "{{ db_pass }}"
    state: present
    priv: 
      '{{ domain_name }}.*:ALL,GRANT'

- name: Create db.php file
  template: 
    src: db.php
    dest: /var/www/vhosts/{{ domain_name }}/index.php
    owner: ubuntu
    group: ubuntu
    mode: '0644'

- name: Create a directory for backup script
  file:
    path: /root/bin/
    owner: root
    group: root
    state: directory

- name: Create mysql backup job
  template: 
    src: mysql-maint.sh
    dest: /root/bin/mysql-maint.sh
    owner: root
    group: root
    mode: '0750'

- name: Schedule the backup
  cron:
    name: mysql backup
    minute: "0"
    hour: "0"
    user: root
    job: "/root/bin/mysql-maint.sh -b >> /var/log/backup.log"